XSD/Ex10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="edat">
        <xs:complexType>
            <xs:attribute name="restr" type="valors"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="valors">
        <xs:restriction base="xs:positiveInteger">
            <xs:minInclusive value="1"></xs:minInclusive>
            <xs:maxExclusive value="130"></xs:maxExclusive>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>