XSD/Ex6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="color">
        <xs:complexType>
            <xs:attribute name="tipus" type="colors"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="colors">
        <xs:restriction base="xs:string">
            <xs:pattern value="vermell|verd|blau"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
