XSD/Ex9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="adreca">
        <xs:complexType>
            <xs:attribute name="restr" type="espais"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="espais">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"></xs:whiteSpace>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>